{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://api.fantasydata.net/v3/nhl/projections"
        },
        {
            "url": "https://api.fantasydata.net/v3/nhl/projections"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "nfldata"
        },
        "title": "NHL v3 Projections",
        "version": "1.0",
        "x-apisguru-categories": [
            "entertainment"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://fantasydata.com/downloads/swagger/nhl-v3-projections.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "fantasydata.net",
        "x-serviceName": "nhl-v3-projections"
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "tags": [],
    "paths": {
        "/{format}/DfsSlatesByDate/{date}": {
            "get": {
                "operationId": "DfsSlatesByDate",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    },
                    {
                        "description": "The date of the game(s).\n<br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.",
                        "in": "path",
                        "name": "date",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "DfsSlateGames": {
                                                "items": {
                                                    "properties": {
                                                        "Game": {
                                                            "properties": {
                                                                "Attendance": {
                                                                    "type": "integer"
                                                                },
                                                                "AwayTeam": {
                                                                    "type": "string"
                                                                },
                                                                "AwayTeamID": {
                                                                    "type": "integer"
                                                                },
                                                                "AwayTeamMoneyLine": {
                                                                    "type": "integer"
                                                                },
                                                                "AwayTeamScore": {
                                                                    "type": "integer"
                                                                },
                                                                "Channel": {
                                                                    "type": "string"
                                                                },
                                                                "DateTime": {
                                                                    "type": "string"
                                                                },
                                                                "Day": {
                                                                    "type": "string"
                                                                },
                                                                "GameEndDateTime": {
                                                                    "type": "string"
                                                                },
                                                                "GameID": {
                                                                    "type": "integer"
                                                                },
                                                                "GlobalAwayTeamID": {
                                                                    "type": "integer"
                                                                },
                                                                "GlobalGameID": {
                                                                    "type": "integer"
                                                                },
                                                                "GlobalHomeTeamID": {
                                                                    "type": "integer"
                                                                },
                                                                "HomeTeam": {
                                                                    "type": "string"
                                                                },
                                                                "HomeTeamID": {
                                                                    "type": "integer"
                                                                },
                                                                "HomeTeamMoneyLine": {
                                                                    "type": "integer"
                                                                },
                                                                "HomeTeamScore": {
                                                                    "type": "integer"
                                                                },
                                                                "IsClosed": {
                                                                    "type": "boolean"
                                                                },
                                                                "LastPlay": {
                                                                    "type": "string"
                                                                },
                                                                "OverUnder": {
                                                                    "type": "number"
                                                                },
                                                                "Period": {
                                                                    "type": "string"
                                                                },
                                                                "Periods": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "AwayScore": {
                                                                                "type": "integer"
                                                                            },
                                                                            "GameID": {
                                                                                "type": "integer"
                                                                            },
                                                                            "HomeScore": {
                                                                                "type": "integer"
                                                                            },
                                                                            "Name": {
                                                                                "type": "string"
                                                                            },
                                                                            "Penalties": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "BenchPenaltyServedByPlayerID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "Description": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "DrawnByPlayerID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "DrawnByTeamID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "IsBenchPenalty": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "PenalizedPlayerID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "PenalizedTeamID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "PenaltyID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "PenaltyMinutes": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "PeriodID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "Sequence": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "TimeRemainingMinutes": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "TimeRemainingSeconds": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "PeriodID": {
                                                                                "type": "integer"
                                                                            },
                                                                            "ScoringPlays": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "AllowedByTeamID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "AssistedByPlayerID1": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "AssistedByPlayerID2": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "AwayTeamScore": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "EmptyNet": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "HomeTeamScore": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "PeriodID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "PowerPlay": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "ScoredByPlayerID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "ScoredByTeamID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "ScoringPlayID": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "Sequence": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "ShortHanded": {
                                                                                            "type": "boolean"
                                                                                        },
                                                                                        "TimeRemainingMinutes": {
                                                                                            "type": "integer"
                                                                                        },
                                                                                        "TimeRemainingSeconds": {
                                                                                            "type": "integer"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "PointSpread": {
                                                                    "type": "number"
                                                                },
                                                                "PointSpreadAwayTeamMoneyLine": {
                                                                    "type": "integer"
                                                                },
                                                                "PointSpreadHomeTeamMoneyLine": {
                                                                    "type": "integer"
                                                                },
                                                                "Season": {
                                                                    "type": "integer"
                                                                },
                                                                "SeasonType": {
                                                                    "type": "integer"
                                                                },
                                                                "StadiumID": {
                                                                    "type": "integer"
                                                                },
                                                                "Status": {
                                                                    "type": "string"
                                                                },
                                                                "TimeRemainingMinutes": {
                                                                    "type": "integer"
                                                                },
                                                                "TimeRemainingSeconds": {
                                                                    "type": "integer"
                                                                },
                                                                "Updated": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "GameID": {
                                                            "type": "integer"
                                                        },
                                                        "OperatorGameID": {
                                                            "type": "integer"
                                                        },
                                                        "RemovedByOperator": {
                                                            "type": "boolean"
                                                        },
                                                        "SlateGameID": {
                                                            "type": "integer"
                                                        },
                                                        "SlateID": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "DfsSlatePlayers": {
                                                "items": {
                                                    "properties": {
                                                        "OperatorPlayerID": {
                                                            "type": "string"
                                                        },
                                                        "OperatorPlayerName": {
                                                            "type": "string"
                                                        },
                                                        "OperatorPosition": {
                                                            "type": "string"
                                                        },
                                                        "OperatorRosterSlots": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "OperatorSalary": {
                                                            "type": "integer"
                                                        },
                                                        "OperatorSlatePlayerID": {
                                                            "type": "string"
                                                        },
                                                        "PlayerGameProjectionStatID": {
                                                            "type": "integer"
                                                        },
                                                        "PlayerID": {
                                                            "type": "integer"
                                                        },
                                                        "RemovedByOperator": {
                                                            "type": "boolean"
                                                        },
                                                        "SlateGameID": {
                                                            "type": "integer"
                                                        },
                                                        "SlateID": {
                                                            "type": "integer"
                                                        },
                                                        "SlatePlayerID": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "IsMultiDaySlate": {
                                                "type": "boolean"
                                            },
                                            "NumberOfGames": {
                                                "type": "integer"
                                            },
                                            "Operator": {
                                                "type": "string"
                                            },
                                            "OperatorDay": {
                                                "type": "string"
                                            },
                                            "OperatorGameType": {
                                                "type": "string"
                                            },
                                            "OperatorName": {
                                                "type": "string"
                                            },
                                            "OperatorSlateID": {
                                                "type": "integer"
                                            },
                                            "OperatorStartTime": {
                                                "type": "string"
                                            },
                                            "RemovedByOperator": {
                                                "type": "boolean"
                                            },
                                            "SlateID": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "DFS Slates by Date"
            }
        },
        "/{format}/PlayerGameProjectionStatsByDate/{date}": {
            "get": {
                "operationId": "ProjectedPlayerGameStatsByDateWInjuriesDfsSalaries",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    },
                    {
                        "description": "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.\n ",
                        "in": "path",
                        "name": "date",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Assists": {
                                                "type": "number"
                                            },
                                            "BenchPenaltyMinutes": {
                                                "type": "number"
                                            },
                                            "Blocks": {
                                                "type": "number"
                                            },
                                            "DateTime": {
                                                "type": "string"
                                            },
                                            "Day": {
                                                "type": "string"
                                            },
                                            "DraftKingsPosition": {
                                                "type": "string"
                                            },
                                            "DraftKingsSalary": {
                                                "type": "integer"
                                            },
                                            "EmptyNetGoals": {
                                                "type": "number"
                                            },
                                            "FaceoffsLost": {
                                                "type": "number"
                                            },
                                            "FaceoffsWon": {
                                                "type": "number"
                                            },
                                            "FanDuelPosition": {
                                                "type": "string"
                                            },
                                            "FanDuelSalary": {
                                                "type": "integer"
                                            },
                                            "FantasyDataSalary": {
                                                "type": "integer"
                                            },
                                            "FantasyDraftPosition": {
                                                "type": "string"
                                            },
                                            "FantasyDraftSalary": {
                                                "type": "integer"
                                            },
                                            "FantasyPoints": {
                                                "type": "number"
                                            },
                                            "FantasyPointsDraftKings": {
                                                "type": "number"
                                            },
                                            "FantasyPointsFanDuel": {
                                                "type": "number"
                                            },
                                            "FantasyPointsFantasyDraft": {
                                                "type": "number"
                                            },
                                            "FantasyPointsYahoo": {
                                                "type": "number"
                                            },
                                            "GameID": {
                                                "type": "integer"
                                            },
                                            "Games": {
                                                "type": "integer"
                                            },
                                            "Giveaways": {
                                                "type": "number"
                                            },
                                            "GlobalGameID": {
                                                "type": "integer"
                                            },
                                            "GlobalOpponentID": {
                                                "type": "integer"
                                            },
                                            "GlobalTeamID": {
                                                "type": "integer"
                                            },
                                            "Goals": {
                                                "type": "number"
                                            },
                                            "GoaltendingGoalsAgainst": {
                                                "type": "number"
                                            },
                                            "GoaltendingLosses": {
                                                "type": "number"
                                            },
                                            "GoaltendingMinutes": {
                                                "type": "integer"
                                            },
                                            "GoaltendingOvertimeLosses": {
                                                "type": "number"
                                            },
                                            "GoaltendingSaves": {
                                                "type": "number"
                                            },
                                            "GoaltendingSeconds": {
                                                "type": "integer"
                                            },
                                            "GoaltendingShotsAgainst": {
                                                "type": "number"
                                            },
                                            "GoaltendingShutouts": {
                                                "type": "number"
                                            },
                                            "GoaltendingWins": {
                                                "type": "number"
                                            },
                                            "HatTricks": {
                                                "type": "number"
                                            },
                                            "Hits": {
                                                "type": "number"
                                            },
                                            "HomeOrAway": {
                                                "type": "string"
                                            },
                                            "InjuryBodyPart": {
                                                "type": "string"
                                            },
                                            "InjuryNotes": {
                                                "type": "string"
                                            },
                                            "InjuryStartDate": {
                                                "type": "string"
                                            },
                                            "InjuryStatus": {
                                                "type": "string"
                                            },
                                            "IsGameOver": {
                                                "type": "boolean"
                                            },
                                            "Minutes": {
                                                "type": "integer"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "Opponent": {
                                                "type": "string"
                                            },
                                            "OpponentID": {
                                                "type": "integer"
                                            },
                                            "OpponentPositionRank": {
                                                "type": "integer"
                                            },
                                            "OpponentRank": {
                                                "type": "integer"
                                            },
                                            "PenaltyMinutes": {
                                                "type": "number"
                                            },
                                            "PlayerID": {
                                                "type": "integer"
                                            },
                                            "PlusMinus": {
                                                "type": "number"
                                            },
                                            "Position": {
                                                "type": "string"
                                            },
                                            "PowerPlayAssists": {
                                                "type": "number"
                                            },
                                            "PowerPlayGoals": {
                                                "type": "number"
                                            },
                                            "Season": {
                                                "type": "integer"
                                            },
                                            "SeasonType": {
                                                "type": "integer"
                                            },
                                            "Seconds": {
                                                "type": "integer"
                                            },
                                            "Shifts": {
                                                "type": "number"
                                            },
                                            "ShootoutGoals": {
                                                "type": "number"
                                            },
                                            "ShortHandedAssists": {
                                                "type": "number"
                                            },
                                            "ShortHandedGoals": {
                                                "type": "number"
                                            },
                                            "ShotsOnGoal": {
                                                "type": "number"
                                            },
                                            "Started": {
                                                "type": "integer"
                                            },
                                            "StatID": {
                                                "type": "integer"
                                            },
                                            "Takeaways": {
                                                "type": "number"
                                            },
                                            "Team": {
                                                "type": "string"
                                            },
                                            "TeamID": {
                                                "type": "integer"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "YahooPosition": {
                                                "type": "string"
                                            },
                                            "YahooSalary": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Projected Player Game Stats by Date (w/ Injuries, DFS Salaries)"
            }
        },
        "/{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}": {
            "get": {
                "operationId": "ProjectedPlayerGameStatsByPlayerWInjuriesDfsSalaries",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    },
                    {
                        "description": "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.\n ",
                        "in": "path",
                        "name": "date",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Unique FantasyData Player ID.\nExample:<code>30000378</code>.",
                        "in": "path",
                        "name": "playerid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Assists": {
                                            "type": "number"
                                        },
                                        "BenchPenaltyMinutes": {
                                            "type": "number"
                                        },
                                        "Blocks": {
                                            "type": "number"
                                        },
                                        "DateTime": {
                                            "type": "string"
                                        },
                                        "Day": {
                                            "type": "string"
                                        },
                                        "DraftKingsPosition": {
                                            "type": "string"
                                        },
                                        "DraftKingsSalary": {
                                            "type": "integer"
                                        },
                                        "EmptyNetGoals": {
                                            "type": "number"
                                        },
                                        "FaceoffsLost": {
                                            "type": "number"
                                        },
                                        "FaceoffsWon": {
                                            "type": "number"
                                        },
                                        "FanDuelPosition": {
                                            "type": "string"
                                        },
                                        "FanDuelSalary": {
                                            "type": "integer"
                                        },
                                        "FantasyDataSalary": {
                                            "type": "integer"
                                        },
                                        "FantasyDraftPosition": {
                                            "type": "string"
                                        },
                                        "FantasyDraftSalary": {
                                            "type": "integer"
                                        },
                                        "FantasyPoints": {
                                            "type": "number"
                                        },
                                        "FantasyPointsDraftKings": {
                                            "type": "number"
                                        },
                                        "FantasyPointsFanDuel": {
                                            "type": "number"
                                        },
                                        "FantasyPointsFantasyDraft": {
                                            "type": "number"
                                        },
                                        "FantasyPointsYahoo": {
                                            "type": "number"
                                        },
                                        "GameID": {
                                            "type": "integer"
                                        },
                                        "Games": {
                                            "type": "integer"
                                        },
                                        "Giveaways": {
                                            "type": "number"
                                        },
                                        "GlobalGameID": {
                                            "type": "integer"
                                        },
                                        "GlobalOpponentID": {
                                            "type": "integer"
                                        },
                                        "GlobalTeamID": {
                                            "type": "integer"
                                        },
                                        "Goals": {
                                            "type": "number"
                                        },
                                        "GoaltendingGoalsAgainst": {
                                            "type": "number"
                                        },
                                        "GoaltendingLosses": {
                                            "type": "number"
                                        },
                                        "GoaltendingMinutes": {
                                            "type": "integer"
                                        },
                                        "GoaltendingOvertimeLosses": {
                                            "type": "number"
                                        },
                                        "GoaltendingSaves": {
                                            "type": "number"
                                        },
                                        "GoaltendingSeconds": {
                                            "type": "integer"
                                        },
                                        "GoaltendingShotsAgainst": {
                                            "type": "number"
                                        },
                                        "GoaltendingShutouts": {
                                            "type": "number"
                                        },
                                        "GoaltendingWins": {
                                            "type": "number"
                                        },
                                        "HatTricks": {
                                            "type": "number"
                                        },
                                        "Hits": {
                                            "type": "number"
                                        },
                                        "HomeOrAway": {
                                            "type": "string"
                                        },
                                        "InjuryBodyPart": {
                                            "type": "string"
                                        },
                                        "InjuryNotes": {
                                            "type": "string"
                                        },
                                        "InjuryStartDate": {
                                            "type": "string"
                                        },
                                        "InjuryStatus": {
                                            "type": "string"
                                        },
                                        "IsGameOver": {
                                            "type": "boolean"
                                        },
                                        "Minutes": {
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "Opponent": {
                                            "type": "string"
                                        },
                                        "OpponentID": {
                                            "type": "integer"
                                        },
                                        "OpponentPositionRank": {
                                            "type": "integer"
                                        },
                                        "OpponentRank": {
                                            "type": "integer"
                                        },
                                        "PenaltyMinutes": {
                                            "type": "number"
                                        },
                                        "PlayerID": {
                                            "type": "integer"
                                        },
                                        "PlusMinus": {
                                            "type": "number"
                                        },
                                        "Position": {
                                            "type": "string"
                                        },
                                        "PowerPlayAssists": {
                                            "type": "number"
                                        },
                                        "PowerPlayGoals": {
                                            "type": "number"
                                        },
                                        "Season": {
                                            "type": "integer"
                                        },
                                        "SeasonType": {
                                            "type": "integer"
                                        },
                                        "Seconds": {
                                            "type": "integer"
                                        },
                                        "Shifts": {
                                            "type": "number"
                                        },
                                        "ShootoutGoals": {
                                            "type": "number"
                                        },
                                        "ShortHandedAssists": {
                                            "type": "number"
                                        },
                                        "ShortHandedGoals": {
                                            "type": "number"
                                        },
                                        "ShotsOnGoal": {
                                            "type": "number"
                                        },
                                        "Started": {
                                            "type": "integer"
                                        },
                                        "StatID": {
                                            "type": "integer"
                                        },
                                        "Takeaways": {
                                            "type": "number"
                                        },
                                        "Team": {
                                            "type": "string"
                                        },
                                        "TeamID": {
                                            "type": "integer"
                                        },
                                        "Updated": {
                                            "type": "string"
                                        },
                                        "YahooPosition": {
                                            "type": "string"
                                        },
                                        "YahooSalary": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Projected Player Game Stats by Player (w/ Injuries, DFS Salaries)"
            }
        }
    },
    "components": {
        "schemas": {
            "DfsSlate": {
                "properties": {
                    "DfsSlateGames": {
                        "items": {
                            "properties": {
                                "Game": {
                                    "properties": {
                                        "Attendance": {
                                            "type": "integer"
                                        },
                                        "AwayTeam": {
                                            "type": "string"
                                        },
                                        "AwayTeamID": {
                                            "type": "integer"
                                        },
                                        "AwayTeamMoneyLine": {
                                            "type": "integer"
                                        },
                                        "AwayTeamScore": {
                                            "type": "integer"
                                        },
                                        "Channel": {
                                            "type": "string"
                                        },
                                        "DateTime": {
                                            "type": "string"
                                        },
                                        "Day": {
                                            "type": "string"
                                        },
                                        "GameEndDateTime": {
                                            "type": "string"
                                        },
                                        "GameID": {
                                            "type": "integer"
                                        },
                                        "GlobalAwayTeamID": {
                                            "type": "integer"
                                        },
                                        "GlobalGameID": {
                                            "type": "integer"
                                        },
                                        "GlobalHomeTeamID": {
                                            "type": "integer"
                                        },
                                        "HomeTeam": {
                                            "type": "string"
                                        },
                                        "HomeTeamID": {
                                            "type": "integer"
                                        },
                                        "HomeTeamMoneyLine": {
                                            "type": "integer"
                                        },
                                        "HomeTeamScore": {
                                            "type": "integer"
                                        },
                                        "IsClosed": {
                                            "type": "boolean"
                                        },
                                        "LastPlay": {
                                            "type": "string"
                                        },
                                        "OverUnder": {
                                            "type": "number"
                                        },
                                        "Period": {
                                            "type": "string"
                                        },
                                        "Periods": {
                                            "items": {
                                                "properties": {
                                                    "AwayScore": {
                                                        "type": "integer"
                                                    },
                                                    "GameID": {
                                                        "type": "integer"
                                                    },
                                                    "HomeScore": {
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "Penalties": {
                                                        "items": {
                                                            "properties": {
                                                                "BenchPenaltyServedByPlayerID": {
                                                                    "type": "integer"
                                                                },
                                                                "Description": {
                                                                    "type": "string"
                                                                },
                                                                "DrawnByPlayerID": {
                                                                    "type": "integer"
                                                                },
                                                                "DrawnByTeamID": {
                                                                    "type": "integer"
                                                                },
                                                                "IsBenchPenalty": {
                                                                    "type": "boolean"
                                                                },
                                                                "PenalizedPlayerID": {
                                                                    "type": "integer"
                                                                },
                                                                "PenalizedTeamID": {
                                                                    "type": "integer"
                                                                },
                                                                "PenaltyID": {
                                                                    "type": "integer"
                                                                },
                                                                "PenaltyMinutes": {
                                                                    "type": "integer"
                                                                },
                                                                "PeriodID": {
                                                                    "type": "integer"
                                                                },
                                                                "Sequence": {
                                                                    "type": "integer"
                                                                },
                                                                "TimeRemainingMinutes": {
                                                                    "type": "integer"
                                                                },
                                                                "TimeRemainingSeconds": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "PeriodID": {
                                                        "type": "integer"
                                                    },
                                                    "ScoringPlays": {
                                                        "items": {
                                                            "properties": {
                                                                "AllowedByTeamID": {
                                                                    "type": "integer"
                                                                },
                                                                "AssistedByPlayerID1": {
                                                                    "type": "integer"
                                                                },
                                                                "AssistedByPlayerID2": {
                                                                    "type": "integer"
                                                                },
                                                                "AwayTeamScore": {
                                                                    "type": "integer"
                                                                },
                                                                "EmptyNet": {
                                                                    "type": "boolean"
                                                                },
                                                                "HomeTeamScore": {
                                                                    "type": "integer"
                                                                },
                                                                "PeriodID": {
                                                                    "type": "integer"
                                                                },
                                                                "PowerPlay": {
                                                                    "type": "boolean"
                                                                },
                                                                "ScoredByPlayerID": {
                                                                    "type": "integer"
                                                                },
                                                                "ScoredByTeamID": {
                                                                    "type": "integer"
                                                                },
                                                                "ScoringPlayID": {
                                                                    "type": "integer"
                                                                },
                                                                "Sequence": {
                                                                    "type": "integer"
                                                                },
                                                                "ShortHanded": {
                                                                    "type": "boolean"
                                                                },
                                                                "TimeRemainingMinutes": {
                                                                    "type": "integer"
                                                                },
                                                                "TimeRemainingSeconds": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PointSpread": {
                                            "type": "number"
                                        },
                                        "PointSpreadAwayTeamMoneyLine": {
                                            "type": "integer"
                                        },
                                        "PointSpreadHomeTeamMoneyLine": {
                                            "type": "integer"
                                        },
                                        "Season": {
                                            "type": "integer"
                                        },
                                        "SeasonType": {
                                            "type": "integer"
                                        },
                                        "StadiumID": {
                                            "type": "integer"
                                        },
                                        "Status": {
                                            "type": "string"
                                        },
                                        "TimeRemainingMinutes": {
                                            "type": "integer"
                                        },
                                        "TimeRemainingSeconds": {
                                            "type": "integer"
                                        },
                                        "Updated": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "GameID": {
                                    "type": "integer"
                                },
                                "OperatorGameID": {
                                    "type": "integer"
                                },
                                "RemovedByOperator": {
                                    "type": "boolean"
                                },
                                "SlateGameID": {
                                    "type": "integer"
                                },
                                "SlateID": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "DfsSlatePlayers": {
                        "items": {
                            "properties": {
                                "OperatorPlayerID": {
                                    "type": "string"
                                },
                                "OperatorPlayerName": {
                                    "type": "string"
                                },
                                "OperatorPosition": {
                                    "type": "string"
                                },
                                "OperatorRosterSlots": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                },
                                "OperatorSalary": {
                                    "type": "integer"
                                },
                                "OperatorSlatePlayerID": {
                                    "type": "string"
                                },
                                "PlayerGameProjectionStatID": {
                                    "type": "integer"
                                },
                                "PlayerID": {
                                    "type": "integer"
                                },
                                "RemovedByOperator": {
                                    "type": "boolean"
                                },
                                "SlateGameID": {
                                    "type": "integer"
                                },
                                "SlateID": {
                                    "type": "integer"
                                },
                                "SlatePlayerID": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "IsMultiDaySlate": {
                        "type": "boolean"
                    },
                    "NumberOfGames": {
                        "type": "integer"
                    },
                    "Operator": {
                        "type": "string"
                    },
                    "OperatorDay": {
                        "type": "string"
                    },
                    "OperatorGameType": {
                        "type": "string"
                    },
                    "OperatorName": {
                        "type": "string"
                    },
                    "OperatorSlateID": {
                        "type": "integer"
                    },
                    "OperatorStartTime": {
                        "type": "string"
                    },
                    "RemovedByOperator": {
                        "type": "boolean"
                    },
                    "SlateID": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "DfsSlateGame": {
                "properties": {
                    "Game": {
                        "properties": {
                            "Attendance": {
                                "type": "integer"
                            },
                            "AwayTeam": {
                                "type": "string"
                            },
                            "AwayTeamID": {
                                "type": "integer"
                            },
                            "AwayTeamMoneyLine": {
                                "type": "integer"
                            },
                            "AwayTeamScore": {
                                "type": "integer"
                            },
                            "Channel": {
                                "type": "string"
                            },
                            "DateTime": {
                                "type": "string"
                            },
                            "Day": {
                                "type": "string"
                            },
                            "GameEndDateTime": {
                                "type": "string"
                            },
                            "GameID": {
                                "type": "integer"
                            },
                            "GlobalAwayTeamID": {
                                "type": "integer"
                            },
                            "GlobalGameID": {
                                "type": "integer"
                            },
                            "GlobalHomeTeamID": {
                                "type": "integer"
                            },
                            "HomeTeam": {
                                "type": "string"
                            },
                            "HomeTeamID": {
                                "type": "integer"
                            },
                            "HomeTeamMoneyLine": {
                                "type": "integer"
                            },
                            "HomeTeamScore": {
                                "type": "integer"
                            },
                            "IsClosed": {
                                "type": "boolean"
                            },
                            "LastPlay": {
                                "type": "string"
                            },
                            "OverUnder": {
                                "type": "number"
                            },
                            "Period": {
                                "type": "string"
                            },
                            "Periods": {
                                "items": {
                                    "properties": {
                                        "AwayScore": {
                                            "type": "integer"
                                        },
                                        "GameID": {
                                            "type": "integer"
                                        },
                                        "HomeScore": {
                                            "type": "integer"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "Penalties": {
                                            "items": {
                                                "properties": {
                                                    "BenchPenaltyServedByPlayerID": {
                                                        "type": "integer"
                                                    },
                                                    "Description": {
                                                        "type": "string"
                                                    },
                                                    "DrawnByPlayerID": {
                                                        "type": "integer"
                                                    },
                                                    "DrawnByTeamID": {
                                                        "type": "integer"
                                                    },
                                                    "IsBenchPenalty": {
                                                        "type": "boolean"
                                                    },
                                                    "PenalizedPlayerID": {
                                                        "type": "integer"
                                                    },
                                                    "PenalizedTeamID": {
                                                        "type": "integer"
                                                    },
                                                    "PenaltyID": {
                                                        "type": "integer"
                                                    },
                                                    "PenaltyMinutes": {
                                                        "type": "integer"
                                                    },
                                                    "PeriodID": {
                                                        "type": "integer"
                                                    },
                                                    "Sequence": {
                                                        "type": "integer"
                                                    },
                                                    "TimeRemainingMinutes": {
                                                        "type": "integer"
                                                    },
                                                    "TimeRemainingSeconds": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "PeriodID": {
                                            "type": "integer"
                                        },
                                        "ScoringPlays": {
                                            "items": {
                                                "properties": {
                                                    "AllowedByTeamID": {
                                                        "type": "integer"
                                                    },
                                                    "AssistedByPlayerID1": {
                                                        "type": "integer"
                                                    },
                                                    "AssistedByPlayerID2": {
                                                        "type": "integer"
                                                    },
                                                    "AwayTeamScore": {
                                                        "type": "integer"
                                                    },
                                                    "EmptyNet": {
                                                        "type": "boolean"
                                                    },
                                                    "HomeTeamScore": {
                                                        "type": "integer"
                                                    },
                                                    "PeriodID": {
                                                        "type": "integer"
                                                    },
                                                    "PowerPlay": {
                                                        "type": "boolean"
                                                    },
                                                    "ScoredByPlayerID": {
                                                        "type": "integer"
                                                    },
                                                    "ScoredByTeamID": {
                                                        "type": "integer"
                                                    },
                                                    "ScoringPlayID": {
                                                        "type": "integer"
                                                    },
                                                    "Sequence": {
                                                        "type": "integer"
                                                    },
                                                    "ShortHanded": {
                                                        "type": "boolean"
                                                    },
                                                    "TimeRemainingMinutes": {
                                                        "type": "integer"
                                                    },
                                                    "TimeRemainingSeconds": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "PointSpread": {
                                "type": "number"
                            },
                            "PointSpreadAwayTeamMoneyLine": {
                                "type": "integer"
                            },
                            "PointSpreadHomeTeamMoneyLine": {
                                "type": "integer"
                            },
                            "Season": {
                                "type": "integer"
                            },
                            "SeasonType": {
                                "type": "integer"
                            },
                            "StadiumID": {
                                "type": "integer"
                            },
                            "Status": {
                                "type": "string"
                            },
                            "TimeRemainingMinutes": {
                                "type": "integer"
                            },
                            "TimeRemainingSeconds": {
                                "type": "integer"
                            },
                            "Updated": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "GameID": {
                        "type": "integer"
                    },
                    "OperatorGameID": {
                        "type": "integer"
                    },
                    "RemovedByOperator": {
                        "type": "boolean"
                    },
                    "SlateGameID": {
                        "type": "integer"
                    },
                    "SlateID": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "DfsSlatePlayer": {
                "properties": {
                    "OperatorPlayerID": {
                        "type": "string"
                    },
                    "OperatorPlayerName": {
                        "type": "string"
                    },
                    "OperatorPosition": {
                        "type": "string"
                    },
                    "OperatorRosterSlots": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "OperatorSalary": {
                        "type": "integer"
                    },
                    "OperatorSlatePlayerID": {
                        "type": "string"
                    },
                    "PlayerGameProjectionStatID": {
                        "type": "integer"
                    },
                    "PlayerID": {
                        "type": "integer"
                    },
                    "RemovedByOperator": {
                        "type": "boolean"
                    },
                    "SlateGameID": {
                        "type": "integer"
                    },
                    "SlateID": {
                        "type": "integer"
                    },
                    "SlatePlayerID": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Game": {
                "properties": {
                    "Attendance": {
                        "type": "integer"
                    },
                    "AwayTeam": {
                        "type": "string"
                    },
                    "AwayTeamID": {
                        "type": "integer"
                    },
                    "AwayTeamMoneyLine": {
                        "type": "integer"
                    },
                    "AwayTeamScore": {
                        "type": "integer"
                    },
                    "Channel": {
                        "type": "string"
                    },
                    "DateTime": {
                        "type": "string"
                    },
                    "Day": {
                        "type": "string"
                    },
                    "GameEndDateTime": {
                        "type": "string"
                    },
                    "GameID": {
                        "type": "integer"
                    },
                    "GlobalAwayTeamID": {
                        "type": "integer"
                    },
                    "GlobalGameID": {
                        "type": "integer"
                    },
                    "GlobalHomeTeamID": {
                        "type": "integer"
                    },
                    "HomeTeam": {
                        "type": "string"
                    },
                    "HomeTeamID": {
                        "type": "integer"
                    },
                    "HomeTeamMoneyLine": {
                        "type": "integer"
                    },
                    "HomeTeamScore": {
                        "type": "integer"
                    },
                    "IsClosed": {
                        "type": "boolean"
                    },
                    "LastPlay": {
                        "type": "string"
                    },
                    "OverUnder": {
                        "type": "number"
                    },
                    "Period": {
                        "type": "string"
                    },
                    "Periods": {
                        "items": {
                            "properties": {
                                "AwayScore": {
                                    "type": "integer"
                                },
                                "GameID": {
                                    "type": "integer"
                                },
                                "HomeScore": {
                                    "type": "integer"
                                },
                                "Name": {
                                    "type": "string"
                                },
                                "Penalties": {
                                    "items": {
                                        "properties": {
                                            "BenchPenaltyServedByPlayerID": {
                                                "type": "integer"
                                            },
                                            "Description": {
                                                "type": "string"
                                            },
                                            "DrawnByPlayerID": {
                                                "type": "integer"
                                            },
                                            "DrawnByTeamID": {
                                                "type": "integer"
                                            },
                                            "IsBenchPenalty": {
                                                "type": "boolean"
                                            },
                                            "PenalizedPlayerID": {
                                                "type": "integer"
                                            },
                                            "PenalizedTeamID": {
                                                "type": "integer"
                                            },
                                            "PenaltyID": {
                                                "type": "integer"
                                            },
                                            "PenaltyMinutes": {
                                                "type": "integer"
                                            },
                                            "PeriodID": {
                                                "type": "integer"
                                            },
                                            "Sequence": {
                                                "type": "integer"
                                            },
                                            "TimeRemainingMinutes": {
                                                "type": "integer"
                                            },
                                            "TimeRemainingSeconds": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "PeriodID": {
                                    "type": "integer"
                                },
                                "ScoringPlays": {
                                    "items": {
                                        "properties": {
                                            "AllowedByTeamID": {
                                                "type": "integer"
                                            },
                                            "AssistedByPlayerID1": {
                                                "type": "integer"
                                            },
                                            "AssistedByPlayerID2": {
                                                "type": "integer"
                                            },
                                            "AwayTeamScore": {
                                                "type": "integer"
                                            },
                                            "EmptyNet": {
                                                "type": "boolean"
                                            },
                                            "HomeTeamScore": {
                                                "type": "integer"
                                            },
                                            "PeriodID": {
                                                "type": "integer"
                                            },
                                            "PowerPlay": {
                                                "type": "boolean"
                                            },
                                            "ScoredByPlayerID": {
                                                "type": "integer"
                                            },
                                            "ScoredByTeamID": {
                                                "type": "integer"
                                            },
                                            "ScoringPlayID": {
                                                "type": "integer"
                                            },
                                            "Sequence": {
                                                "type": "integer"
                                            },
                                            "ShortHanded": {
                                                "type": "boolean"
                                            },
                                            "TimeRemainingMinutes": {
                                                "type": "integer"
                                            },
                                            "TimeRemainingSeconds": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "PointSpread": {
                        "type": "number"
                    },
                    "PointSpreadAwayTeamMoneyLine": {
                        "type": "integer"
                    },
                    "PointSpreadHomeTeamMoneyLine": {
                        "type": "integer"
                    },
                    "Season": {
                        "type": "integer"
                    },
                    "SeasonType": {
                        "type": "integer"
                    },
                    "StadiumID": {
                        "type": "integer"
                    },
                    "Status": {
                        "type": "string"
                    },
                    "TimeRemainingMinutes": {
                        "type": "integer"
                    },
[...]
